*{
    font: "FreeMono", monospace;
    padding: 0;
    margin: 0;
    border-width: 0;
}

body{
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    color: black;
    background-color: #f8a7b3;
    font-size: 16px;
    margin: 3px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.biography {
    color: black;
    background-color: #ffb6c19c;
    margin: 3px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 16pt;
}
.biography2 {
    color: black;
    background-color: #ffb6c19c;
    margin: 3px;
    padding: 5px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    border-radius: 10px;
}
.personalpic{
    width: 20%;
    height: 20%;
}
.portfolio {
    color: black;
    font-size: 14pt;
    background-color: #f8a7b3;
    margin: 3px;
    padding: 15px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:flex-end;
    border-radius: 10px;
    min-width: 300px;
    font-size: 16pt;
    
}
.portfolio2 {
    color: black;
    background-color: #f8a7b3;
    margin: 3px;
    padding: 5px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    border-radius: 10px;
    
}

.project{
    display: flex;
    flex-direction: column;
}
.portpic{
    width: 300px;
    height: 300px;
}
